

    <app-navigation></app-navigation>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <section class="content-header">
        <h1>
          Lista Completa
          <small>Utilizadores</small>
        </h1>
        <ol class="breadcrumb">
      
          <li class="active">Dashboard</li>
        </ol>
      </section>
  
      <!-- Main content -->
      <section class="content">
      
       
        <!-- /.col -->
          <div class="box">
          
            <!-- /.box-header -->
            <div class="box-body no-padding">
              <table class="table table-striped">
                <tr>
                  <th style="width: 10px">Id</th>
                  <th>Nome</th>
                  <th>Username</th>
                  <th>Idade</th>
                  <th>About</th>
                  <th></th>
                  <th></th>
                  
                </tr>
                <tr *ngFor="let user of users">
                  <td>{{user.id}}</td>
                  <td>{{user.fullName}}</td>
                  <td>{{user.username}}</td>
                  <td>{{user.age}}</td>
                  <td>{{user.about}}</td>
                  <th><button [routerLink]="['/user/',user.id]" class="btn btn-block btn-success btn-sm">Visualizar</button> </th>
                  <th><button [routerLink]="['/user/edit/',user.id]" class="btn btn-block btn-danger btn-sm">editar</button></th>
               
                </tr>
              </table>
            </div>
            <!-- /.box-body -->
          </div>
        
      </section>
      <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
   <app-footer></app-footer>