<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="pt" xml:lang="pt">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta content="width=device-width, initial-scale=1, user-scalable=0" name="viewport">
    <meta content="width" name="MobileOptimized">
    <meta content="true" name="HandheldFriendly">
    <!-- Place favicon.ico in the root directory -->
    <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
    <link rel="manifest" href="site.webmanifest">
    <link rel="mask-icon" href="safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <title>Career Path - Data Science</title>
    <meta name="description"
        content="Página do Encontro Nacional de Estudantes de Informática 2019, no Instituto Superior de Engenharia de Coimbra (ISEC) a realizar-se entre 12 e 15 de abril de 2019. O ENEI pretende oferecer aos estudantes de todo o país um evento que promove a aprendizagem, a troca de ideias e o convívio, enquanto tenta criar fortes ligações com o mundo empresarial.">
    <meta property="og:locale" content="pt_PT" />
    <meta property="og:title" content="Career Path - Artificial Intelligence" />
    <meta property="og:description"
        content="Página do Encontro Nacional de Estudantes de Informática 2019, no Instituto Superior de Engenharia de Coimbra (ISEC) a realizar-se entre 12 e 15 de abril de 2019. O ENEI pretende oferecer aos estudantes de todo o país um evento que promove a aprendizagem, a troca de ideias e o convívio, enquanto tenta criar fortes ligações com o mundo empresarial." />
    <meta property="og:site_name" content="Career Path - Data Science" />
    <meta property="og:url" content="http://www.enei.pt/cp-ds" />
    <meta property="og:image" content="http://www.enei.pt/imgs/share-image.jpg" />
    <meta property="og:type" content="Website" />
    <link rel="canonical" href="http://www.enei.pt/cp-ia" />
    <link href="bootstrap-grid.css" rel="stylesheet" type="text/css" />
    <link href="main.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Bai+Jamjuree:400,600,700" rel="stylesheet">

</head>

<body class="career-path ai-color">
    <div id="overlay"></div>
    <header id="main-menu">
        <nav>
            <a href="#" title="Abrir menu" rel="nofollow" id="open-menu-mobile">Menu</a>
            <ul>

                <li><a href="https://enei.pt/#enei" title="Enei">Enei</a></li>
                <li><a href="https://enei.pt/#career-path">Career Paths</a></li>
                <li><a href="https://enei.pt/#calendar">Programa</a></li>
                <li><a href="https://enei.pt/#precos" title="Preços">Preços</a></li>
                <li><a href="https://enei.pt/app" title="Preços">App</a></li>
                <li><a href="https://enei.pt/ctf" title="CTF">CTF</li>
                <li><a href="https://enei.pt/#sponsors" title="Sponsors">Sponsors</a></li>
                <li><a href="https://enei.pt/#faqs" title="Faq's">Faq's</a></li>
            </ul>
        </nav>
    </header>
    <!-- apresentation section -->
    <div id="apresentation">
        <div class="career-apresentation">
            <div class="career-name">Artificial Intelligence<span>Powered by:</span></div>
            <img src="imgs/logos/critical-sponsor.png" alt="Critical Software"
                style="background-color: white;padding: 20px;" />
        </div>
    </div>

    <!-- enei section -->
    <section id="enei">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-sm-7">
                    <div class="pre-h1">Career Path</div>
                    <h1>Artificial Intelligence</h1>
                    <hr>
                    <p>O ENEI19 não só vai ter um programa geral como, também, vai ter 5 Career Paths!
                        Vais poder escolher o que mais se identifica contigo e ter acesso a todas as conferências sobre
                        essa temática!.</p>
                    <p>Podes fazer a tua inscrição no Career Path que mais gostares através da nossa app!</p>
                    <p>Mas não te preocupes, apesar de te inscreveres num determinado Career Path, poderás participar em
                        palestras ou workshops de Career Paths diferentes.</p>
                </div>
            </div>
        </div>
    </section>

    <!-- programa geral -->
    <section id="calendar" class="grey">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-lg-offset-3">
                    <h1>Programa</h1>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div id="calendar-container">
                        <div id="event-days-list">
                            <button class="selected" data-eventDay="13">13 <span>Abril</span></button>
                            <button data-eventDay="14">14 <span>Abril</span></button>
                        </div>
                        <div class="day-night-filter">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="row">
                                        <div class="col-lg-6 col-sm-6">
                                            <div class="half-day">Manhã</div>
                                        </div>
                                        <div class="col-lg-6 col-sm-6">
                                            <div class="half-day">Tarde/Noite</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="content-container">
                            <section class="content visible" data-eventContent="13">
                                <div class="row">
                                    <div class="col-lg-6 col-sm-6">
                                        <div class="row event-data">
                                            <div class="col-lg-4">
                                                <div class="event-time">11:15 - 13:30</div>
                                            </div>
                                            <div
                                                class="col-lg-8 col-lg-offset-0 col-sm-offset-2 col-xs-offset-2 event-details">
                                                <div class="event-type">Workshop</div>
                                                <h3>Licínio Oliveira</h3>
                                                <div class="event-details"><span class="icon-company"></span>Critical Software</div>
                                                <!--<button class="modal-link event-description"
                                                    data-modalLink="modal-80"><span class="arrow">&#10132;</span>Ver
                                                    mais detalhes</button>-->
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-sm-6">
                                        <div class="row event-data">
                                            <div class="col-lg-4">
                                                <div class="event-time">15:30 - 16:30</div>
                                            </div>
                                            <div
                                                class="col-lg-8 col-lg-offset-0 col-sm-offset-2 col-xs-offset-2 event-details">
                                                <div class="event-type">Palestra</div>
                                                <h3>Eduardo Pereira</h3>
                                                <div class="event-details"><span class="icon-company"></span> Delloite
                                                </div>
                                                <button class="modal-link event-description"
                                                    data-modalLink="modal-81"><span class="arrow">&#10132;</span>Ver
                                                    mais detalhes</button>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </section>
                            <section class="content" data-eventContent="14">
                                <div class="row">
                                    <div class="col-lg-6 col-sm-6">

                                    </div>
                                    <div class="col-lg-6 col-sm-6">
                                        <div class="row event-data">
                                            <div class="col-lg-4">
                                                <div class="event-time">15:15 - 16:15</div>
                                            </div>
                                            <div
                                                class="col-lg-8 col-lg-offset-0 col-sm-offset-2 col-xs-offset-2 event-details">
                                                <div class="event-type">Palestra</div>
                                                <h2>Will Deep Convolutional Neural Networks and Reinforcement Learning
                                                    lead to Artificial General Intelligence?</h2>
                                                <h3>Arlindo Oliveira</h3>
                                                <div class="event-details"><span class="icon-company"></span>Instituto
                                                    Superior Técnico</div>
                                                <button class="modal-link event-description"
                                                    data-modalLink="modal-84"><span class="arrow">&#10132;</span>Ver
                                                    mais detalhes</button>
                                            </div>
                                        </div>

                                    </div>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- oradores section -->
    <section id="speakers">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-lg-offset-3 col-sm-12 col-sm-offset-0 col-xs-10 col-xs-offset-1">
                    <h1>Speakers</h1>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-sm-6">
                    <a href="https://www.criticalsoftware.com/" title="Licínio Oliveira" target="_blank" class="speaker-button">
                        <div class="speaker-image">
                            <img src="imgs/speakers-image/person.png" alt="Licínio Oliveira">
                            <img src="imgs/sponsor-images/critical-sponsor.png" alt="ubiwhere" class="company-image">
                        </div>
                        <h2 class="speaker-name">Licínio Oliveira </h2>
                        <div class="speaker-company">Critical Software</div>
                    </a>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <a href="https://www2.deloitte.com/pt/pt.html" title="Eduardo Pereira" target="_blank"
                        class="speaker-button">
                        <div class="speaker-image">
                            <img src="imgs/speakers-image/eduardo.png" alt="Eduardo Pereira">
                            <img src="imgs/sponsor-images/deloitte-sponsor.png" alt="Deloitte" class="company-image">
                        </div>
                        <h2 class="speaker-name">Eduardo Pereira</h2>
                        <div class="speaker-company">Delloite</div>
                    </a>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <a href="https://tecnico.ulisboa.pt/pt/" title="Arlindo Oliveira" target="_blank"
                        class="speaker-button">
                        <div class="speaker-image">
                            <img src="imgs/speakers-image/arlindo.png">
                            <img src="imgs/speakers-company/ist.jpg" alt="Instituto Superior Técnico" class="company-image">
                        </div>
                        <h2 class="speaker-name">Arlindo Oliveira</h2>
                        <div class="speaker-company">Instituto Superior Técnico</div>
                    </a>
                </div>




            </div>
        </div>
    </section>

    <!-- footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-xs-6">
                    <p>© 2019 ENEI . Todos os direitos reservados</p>
                </div>
                <div class="col-lg-8 col-xs-6">
                    <ul id="social-network">
                        <li><a href="https://www.facebook.com/ENEIConf/" title="Facebook" target="_blank"
                                class="icon-facebook"></a></li>
                        <li><a href="https://www.instagram.com/eneiconf/" title="Instagram" target="_blank"
                                class="icon-instagram"></a></li>
                        <li><a href="https://www.linkedin.com/company/enei/" title="Linkedin" target="_blank"
                                class="icon-linkedin"></a></li>
                        <li><a href="mailto:geral@enei.pt" title="Email" target="_blank" class="icon-email"></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <div class="modal-container" id="modal-80" data-status="closed">
        <button class="modal-close" data-modalContainer="modal-80"><span class="icon-close"></span></button>
        <h2>Description</h2>
        <p>(Critical)</p>
        <h2>Speaker's Bio</h2>
        <h3>Licínio Oliveira</h3>
        <p>Sem descrição
        </p>
    </div>

    <div class="modal-container" id="modal-81" data-status="closed">
        <button class="modal-close" data-modalContainer="modal-81"><span class="icon-close"></span></button>
        <h2>Speaker's Bio</h2>
        <h3>EDUARDO PEREIRA</h3>
        <p>Eduardo joined Deloitte PT in 2018 as Lead Specialist of Data Science / AI. He is leading the advanced
            analytics team at Deloitte in the financial services sector with the main aim to provide top-class solutions
            based on the combination of machine learning, computer vision, and natural language techniques to their
            clients. In his role, he is also coaching and mentoring internal staff, as well as master students, keeping
            a tight link with several universities and research centers. He is also focus on providing data-driven
            digitalization solutions within Deloitte PT. He has over 12 years’ experience working on computer graphics,
            computer vision, natural language processing and machine learning within surveillance, retail, forensic,
            entertainment, manufacturing, biology, finance and smart environments/cities. Most recently he was senior
            data scientist at UTRC in Cork-Ireland. Before that he spent four years as a machine learning researcher at
            INESCTEC. He worked on a mid-size and a startup companies as responsible for the computer vision/machine
            learning solutions, and he cofounded his own startup in the field of videogames and digital interactive
            solutions. Eduardo holds a PhD in Computer Vision/Machine Learning from the University of Porto-Portugal,
            with collaboration with UT Austin-USA.</p>
    </div>
    </div>

    <div class="modal-container" id="modal-82" data-status="closed">
        <button class="modal-close" data-modalContainer="modal-82"><span class="icon-close"></span></button>
        <h2>Descrição</h2>
        <p>Atualmente existe um hype de Big Data entre as organizações, contudo transformar o seu potencial em real
            impacto de negócio tem-se provado um desafio. Desenvolver modelos precisos e confiáveis ​​é um primeiro
            passo, no entanto colocá-los em produção e fazer a sua gestão diariamente - descobrindo conhecimento único -
            é outro nível. Os modelos e automação preditivos serão fundamentais na operacionalização de todo o processo,
            ajudando a orquestrar e gerir o processamento de todos os dados dentro de uma organização. Este deve ser o
            alvo final de uma estratégia de Big Data bem-sucedida.
            Neste workshop vamos nos concentramos numa dimensão crítica - a Excelência Operacional. A análise de grandes
            volumes de dados operacionais pode suportar os esforços dos CSP’s na expansão e controlo da infraestrutura
            atual. Através da correlação de métricas de uso da rede e atributos de utilizadores, além de dados de
            tráfego e localização, ajudará de forma proactiva a detetar ou prever possíveis problemas e obstáculos em
            tempo real.
            O principal objetivo deste workshop é desenhar e desenvolver um algoritmo capaz de realizar a deteção de
            anomalias por categoria, usando para o efeito dados operacionais de comunicações móveis. Com base nas
            mensagens enviadas ou recebidas pelos cartões SIM, a solução proposta deve ser capaz de detetar padrões em
            altos volumes de mensagens e fornecer informações sobre as suas causas.
        </p>
        <h2>Requesitos</h2>
        <p>Computador pessoal com as seguintes ferramentas instaladas:</p>
        <p>-Jupyter Notebook</p>
        <p>-Python 3.6</p>
        <p>-ScikitLearn</p>
        <p>-Matplotlib</p>
        <p>-Pandas</p>

    </div>

    <div class="modal-container" id="modal-83" data-status="closed">
        <button class="modal-close" data-modalContainer="modal-83"><span class="icon-close"></span></button>
        <h2>Descrição</h2>
        <p>A Aguardar descrição e nome.</p>
    </div>
    <div class="modal-container" id="modal-84" data-status="closed">
        <button class="modal-close" data-modalContainer="modal-84"><span class="icon-close"></span></button>
        <h2>Descrição</h2>
        <p>"Artificial Intelligence, and its diverse subfields, including machine learning, has been the subject of
            intense study for more than a half a century. Recent advances in machine learning, jointly known as deep
            learning, have partially closed the gap that exists between the abilities of naturally intelligent systems
            (i.e., brains) and artificially intelligent ones in problems related with perception. Additionally, some
            problems that have been deemed very hard to solve, like learning to play the game of Go from scratch or
            mastering complex strategy games have fallen to approaches that combine deep reinforcement learning with
            efficient computation methods. Still, the depth of understanding of these systems is somewhat limited, and
            many counterexamples exist that show that DCNNs (deep convolutional neural networks) are still very far from
            approaching human abilities even in simple perception problems. In this seminar, I will lead an interactive
            discussion about the power and limitations of DCNNs and whether this technology will lead the way to
            artificial general intelligence (AGI) or will simply become one more tool in the practitioners’ toolbox.
            Active involvement from the audience will be expected."</p>
        <h2>Speaker's Bio</h2>
        <h3>Arlindo Oliveira</h3>
        <p>"Arlindo Oliveira was born in Angola and has lived in Mozambique, Portugal, Switzerland and California. He
            obtained his BSc and MSc degrees from Instituto Superior Técnico (IST) and his PhD degree from the
            University of California at Berkeley, all in Electrical Engineering and Computer Science. He was a
            researcher at CERN and at the Berkeley Cadence Laboratories. He is a professor at the computer science and
            engineering department of IST and a researcher at INESC-ID. He authored three books, translated in different
            languages, and more than 150 articles in international conferences and journals. He has been on the boards
            of a number of companies and institutions and is a past president of INESC-ID and of the Portuguese
            Association for Artificial Intelligence. He is a member of the IEEE and of the Portuguese Academy of
            Engineering. He became president of Instituto Superior Técnico in 2012.


        </p>

    </div>
    <div class="modal-container" id="modal-85" data-status="closed">
        <button class="modal-close" data-modalContainer="modal-85"><span class="icon-close"></span></button>
        <h2>Descrição</h2>
        <p>Neste workshop, veremos algumas das diversas fases que estão associadas ao desenvolvimento de um modelo de
            deteção de fraude baseado em Machine Learning, desde a recolha e tratamento de dados, feature engineering,
            modelação e avaliação. Para tal vamos explorar essencialmente packages da linguagem de programação Python,
            como pandas, numpy e scikit-learn. Material necessário: portátil.</p>
        <h2>Speaker's Bio</h2>
        <h3>Fábio Pinto</h3>
        <p>Fábio Pinto é Research Data Scientist na Feedzai, empresa líder de mercado no combate à fraude com recurso a
            Inteligência Artificial. Doutorado em Engenharia Informática pela Faculdade de Engenharia da Universidade do
            Porto, a sua investigação têm-se focado essencialmente em Automatic Machine Learning (autoML), tendo
            publicado em diversas conferências e revistas da área, como a Machine Learning Journal.
        </p>
    </div>

    <!-- Scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script type="text/javascript" src="js/scripts.js"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-130588243-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());
        gtag('config', 'UA-130588243-1');
    </script>
</body>

</html>