<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>ENEI 2019</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>2</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>16</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.utilities</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSAppleMusicUsageDescription</key>
	<string>Not used, just added this key because i used react-native and needed this keys for approval.</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>Not used, just added this key because i used react-native and needed this keys for approval.</string>
	<key>NSCalendarsUsageDescription</key>
	<string>Not used, just added this key because i used react-native and needed this keys for approval.</string>
	<key>NSCameraUsageDescription</key>
	<string>A camera é usada para ler os QR codes presentes no evento. Facilita o uso da aplicação.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Not used, just added this key because i used react-native and needed this keys for approval.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Not used, just added this key because i used react-native and needed this keys for approval.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>O microfone não é usado, no entanto o package que uso para ler o QR code pede a permissão do microfone.</string>
	<key>NSMotionUsageDescription</key>
	<string>Not used, just added this key because i used react-native and needed this keys for approval.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Not used, just added this key because i used react-native and needed this keys for approval.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Not used, just added this key because i used react-native and needed this keys for approval.</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>Not used, just added this key because i used react-native and needed this keys for approval.</string>
	<key>UIAppFonts</key>
	<array>
		<string>MaterialIcons.ttf</string>
		<string>FontAwesome5_Solid.ttf</string>
		<string>FontAwesome5_Regular.ttf</string>
		<string>FontAwesome5_Brands.ttf</string>
		<string>FontAwesome.ttf</string>
		<string>Foundation.ttf</string>
		<string>Ionicons.ttf</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
