<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="pt" xml:lang="pt">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta content="width=device-width, initial-scale=1, user-scalable=0" name="viewport">
    <meta content="width" name="MobileOptimized">
    <meta content="true" name="HandheldFriendly">
    <!-- Place favicon.ico in the root directory -->
    <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
    <link rel="manifest" href="site.webmanifest">
    <link rel="mask-icon" href="safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <title>Career Path - Networking and Security</title>
    <meta name="description"
        content="Página do Encontro Nacional de Estudantes de Informática 2019, no Instituto Superior de Engenharia de Coimbra (ISEC) a realizar-se entre 12 e 15 de abril de 2019. O ENEI pretende oferecer aos estudantes de todo o país um evento que promove a aprendizagem, a troca de ideias e o convívio, enquanto tenta criar fortes ligações com o mundo empresarial.">
    <meta property="og:locale" content="pt_PT" />
    <meta property="og:title" content="Career Path - Networking and Security" />
    <meta property="og:description"
        content="Página do Encontro Nacional de Estudantes de Informática 2019, no Instituto Superior de Engenharia de Coimbra (ISEC) a realizar-se entre 12 e 15 de abril de 2019. O ENEI pretende oferecer aos estudantes de todo o país um evento que promove a aprendizagem, a troca de ideias e o convívio, enquanto tenta criar fortes ligações com o mundo empresarial." />
    <meta property="og:site_name" content="Career Path - Networking and Security" />
    <meta property="og:url" content="http://www.enei.pt/cp-net" />
    <meta property="og:image" content="http://www.enei.pt/imgs/share-image.jpg" />
    <meta property="og:type" content="Website" />
    <link rel="canonical" href="http://www.enei.pt/cp-net" />
    <link href="bootstrap-grid.css" rel="stylesheet" type="text/css" />
    <link href="main.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Bai+Jamjuree:400,600,700" rel="stylesheet">

</head>

<body class="career-path ciber-color">
    <div id="overlay"></div>
    <header id="main-menu">
        <nav>
            <a href="#" title="Abrir menu" rel="nofollow" id="open-menu-mobile">Menu</a>
            <ul>

                <li><a href="https://enei.pt/#enei" title="Enei">Enei</a></li>
                <li><a href="https://enei.pt/#career-path">Career Paths</a></li>
                <li><a href="https://enei.pt/#calendar">Programa</a></li>
                <li><a href="https://enei.pt/#precos" title="Preços">Preços</a></li>
                <li><a href="https://enei.pt/app" title="Preços">App</a></li>
                <li><a href="https://enei.pt/ctf" title="CTF">CTF</li>
                <li><a href="https://enei.pt/#sponsors" title="Sponsors">Sponsors</a></li>
                <li><a href="https://enei.pt/#faqs" title="Faq's">Faq's</a></li>
            </ul>
        </nav>
    </header>
    <!-- apresentation section -->
    <div id="apresentation">
        <div class="career-apresentation">
            <div class="career-name">Networking and Security <span>Powered by:</span></div>
            <img src="imgs/sponsor-images/altice-labs.png" alt="Altice Labs" style="background-color: white;padding: 20px;" >
        </div>
    </div>

    <!-- enei section -->
    <section id="enei">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-sm-7">
                    <div class="pre-h1">Career Path</div>
                    <h1>Networking and Security</h1>
                    <hr>
                    <p>O ENEI19 não só vai ter um programa geral como, também, vai ter 5 Career Paths!
                        Vais poder escolher o que mais se identifica contigo e ter acesso a todas as conferências sobre
                        essa temática!.</p>
                    <p>Podes fazer a tua inscrição no Career Path que mais gostares através da nossa app!</p>
                    <p>Mas não te preocupes, apesar de te inscreveres num determinado Career Path, poderás participar em
                        palestras ou workshops de Career Paths diferentes.</p>
                </div>
            </div>
        </div>
    </section>

    <!-- programa geral -->
    <section id="calendar" class="grey">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-lg-offset-3">
                    <h1>Programa</h1>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div id="calendar-container">
                        <div id="event-days-list">
                            <button class="selected" data-eventDay="13">13 <span>Abril</span></button>
                            <button data-eventDay="14">14 <span>Abril</span></button>
                        </div>
                        <div class="day-night-filter">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="row">
                                        <div class="col-lg-6 col-sm-6">
                                            <div class="half-day">Manhã</div>
                                        </div>
                                        <div class="col-lg-6 col-sm-6">
                                            <div class="half-day">Tarde/Noite</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="content-container">
                            <section class="content visible" data-eventContent="13">
                                <div class="row">
                                    <div class="col-lg-6 col-sm-6">
                                        <div class="row event-data">
                                            <div class="col-lg-4">
                                                <div class="event-time">11:15 - 12:00</div>
                                            </div>
                                            <div
                                                class="col-lg-8 col-lg-offset-0 col-sm-offset-2 col-xs-offset-2 event-details">
                                                <div class="event-type">Palestra</div>
                                                <h2>Desenvolvimento de Software para Segurança Nacional: -Dual Control Organization</h2>
                                                <h3>Manuel Martins</h3>
                                                <div class="event-details"><span class="icon-company"></span>Critical
                                                    Software
                                                </div>
                                                <div class="event-details"><span class="icon-location"></span>Auditório A2</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <section class="content" data-eventContent="14">
                                <div class="row">
                                    <div class="col-lg-6 col-sm-6">
                                        <div class="row event-data">
                                            <div class="col-lg-4">
                                                <div class="event-time">11:15 - 12:15</div>
                                            </div>
                                            <div
                                                class="col-lg-8 col-lg-offset-0 col-sm-offset-2 col-xs-offset-2 event-details">
                                                <div class="event-type">Workshop</div>
                                                <h2>Web Security 101</h2>
                                                <h3>Gonçalo Amaro & André Pinheiro</h3>
                                                <div class="event-details"><span class="icon-company"></span>Dognaedis
                                                </div>
                                                <div class="event-details"><span class="icon-location"></span>Laboratório 3</div>
                                                <ul>  <div class="event-details"><span class="icon-clipboard"></span>Requisitos: 
                                                        <li> METASPLOITABLE</li>
                                                        <li>KALI LINUX</li>
                                                        <li>VIRTUAL BOX</li>
                                                        <li>VIRTUAL BOX EXTENSION PACK</li>
                                                    </ul>
                                                    
                                                <button class="modal-link event-description"
                                                    data-modalLink="modal-84"><span class="arrow">&#10132;</span>Ver
                                                    mais detalhes</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-sm-6">
                                        <div class="row event-data">
                                            <div class="col-lg-4">
                                                <div class="event-time">15:15 - 16:10</div>
                                            </div>
                                            <div
                                                class="col-lg-8 col-lg-offset-0 col-sm-offset-2 col-xs-offset-2 event-details">
                                                <div class="event-type">Workshop</div>
                                                <h2>SCAPY Workshop</h2>
                                                <h3>Hugo trovão</h3>
                                                <div class="event-details"><span class="icon-company"></span>Dognaedis
                                                </div>
                                                <div class="event-details"><span class="icon-clipboard"></span>Requisitos: 
                                                    Material necessário: É esperado que os participantes tenham acesso a um computador com scapy instalado e alguns conhecimentos de programação em python.
                                                  </div>
                                                <button class="modal-link event-description"
                                                    data-modalLink="modal-83"><span class="arrow">&#10132;</span>Ver
                                                    mais detalhes</button>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- oradores section -->
    <section id="speakers">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-lg-offset-3 col-sm-12 col-sm-offset-0 col-xs-10 col-xs-offset-1">
                    <h1>Speakers</h1>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-sm-6">
                    <a href="https://criticalsoftware.com" title="Manuel Martins" target="_blank"
                        class="speaker-button">
                        <div class="speaker-image">
                            <img src="imgs/speakers-image/person.png" alt="Manuel Martins">
                            <img src="imgs/sponsor-images/critical-sponsor.png" alt="Critical Software"
                                class="company-image">
                        </div>
                        <h2 class="speaker-name">Manuel Martins</h2>
                        <div class="speaker-company">Critical Software</div>
                    </a>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <a href="https://www.dognaedis.com/" title="Gonçalo Amaro" target="_blank" class="speaker-button">
                        <div class="speaker-image">
                            <img src="imgs/speakers-image/Gonçalo Amaro.jpg" alt="Gonçalo Amaro">
                            <img src="imgs/sponsor-images/dognaedis.png" alt="" Dognaedis class="company-image">
                        </div>
                        <h2 class="speaker-name">Gonçalo Amaro</h2>
                        <div class="speaker-company">Dognaedis</div>
                    </a>
                </div>

                <div class="col-lg-3 col-sm-6">
                    <a href="https://www.dognaedis.com/" title="André Pinheiro" target="_blank" class="speaker-button">
                        <div class="speaker-image">
                            <img src="imgs/speakers-image/André Pinheiro.jpg" alt="André Pinheiro">
                            <img src="imgs/sponsor-images/dognaedis.png" alt="Dognaedis" class="company-image">
                        </div>
                        <h2 class="speaker-name">André Pinheiro</h2>
                        <div class="speaker-company">Dognaedis</div>
                    </a>
                </div>

                <div class="col-lg-3 col-sm-6">
                    <a href="https://www.dognaedis.com/" title="Hugo Trovão" target="_blank" class="speaker-button">
                        <div class="speaker-image">
                            <img src="imgs/speakers-image/person.png" alt="Hugo Trovão">
                            <img src="imgs/sponsor-images/dognaedis.png" alt="Dognaedis" class="company-image">
                        </div>
                        <h2 class="speaker-name">Hugo Trovão</h2>
                        <div class="speaker-company">Dognaedis</div>
                    </a>
                </div>







            </div>
        </div>
    </section>

    <!-- footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-xs-6">
                    <p>© 2019 ENEI . Todos os direitos reservados</p>
                </div>
                <div class="col-lg-8 col-xs-6">
                    <ul id="social-network">
                        <li><a href="https://www.facebook.com/ENEIConf/" title="Facebook" target="_blank"
                                class="icon-facebook"></a></li>
                        <li><a href="https://www.instagram.com/eneiconf/" title="Instagram" target="_blank"
                                class="icon-instagram"></a></li>
                        <li><a href="https://www.linkedin.com/company/enei/" title="Linkedin" target="_blank"
                                class="icon-linkedin"></a></li>
                        <li><a href="mailto:geral@enei.pt" title="Email" target="_blank" class="icon-email"></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>





    <div class="modal-container" id="modal-83" data-status="closed">
        <button class="modal-close" data-modalContainer="modal-83"><span class="icon-close"></span></button>
        <h2>Descrição</h2>
       <p>
        O objectivo do workshop é dar a conhecer e experimentar uma ferramenta de análise/construção de tráfego, mostrando algumas potencialidades da mesma em exercícios que possam ser usados na vida real.  
       </p>
       <p>        O workshop consistirá nos seguintes tópicos: </p>
        <b> <p>1. Scapy basics (enviar/receber/visualizar/modificar tráfego) (implementar algumas ferramentas com o scapy) </p></b>  
        <b><p>   2. TCP Basics     </p> </b>
       <b><p> 3. DHCP server </p>  </b> 
       <b> <p> 4. DNS sniffer e server (implementar um protocolo e os seus layers em Scapy) </p> </b> 
       <b> <p>5. Extender o scapy com um protocolo (simple fuzzing com Scapy) </p>  </b>
        <b><p>  6. Fuzzing protocols com Scapy</p></b>
        <h2>Requisitos:</h2>
        <b><p>
         Material necessário: É esperado que os participantes tenham acesso a um
                computador com scapy instalado e alguns conhecimentos de programação em
                python.</p></b>

    </div>

    <!-- Scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script type="text/javascript" src="js/scripts.js"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-130588243-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());
        gtag('config', 'UA-130588243-1');
    </script>
</body>

</html>