<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="pt" xml:lang="pt">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta content="width=device-width, initial-scale=1, user-scalable=0" name="viewport">
    <meta content="width" name="MobileOptimized">
    <meta content="true" name="HandheldFriendly">
    <!-- Place favicon.ico in the root directory -->
    <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
    <link rel="manifest" href="site.webmanifest">
    <link rel="mask-icon" href="safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <title>ENEI'19</title>
    <meta name="description"
        content="Página do Encontro Nacional de Estudantes de Informática 2019, no Instituto Superior de Engenharia de Coimbra (ISEC) a realizar-se entre 12 e 15 de abril de 2019. O ENEI pretende oferecer aos estudantes de todo o país um evento que promove a aprendizagem, a troca de ideias e o convívio, enquanto tenta criar fortes ligações com o mundo empresarial.">
    <meta property="og:locale" content="pt_PT" />
    <meta property="og:title" content="ENEI'19" />
    <meta property="og:description"
        content="Página do Encontro Nacional de Estudantes de Informática 2019, no Instituto Superior de Engenharia de Coimbra (ISEC) a realizar-se entre 12 e 15 de abril de 2019. O ENEI pretende oferecer aos estudantes de todo o país um evento que promove a aprendizagem, a troca de ideias e o convívio, enquanto tenta criar fortes ligações com o mundo empresarial." />
    <meta property="og:site_name" content="ENEI'19" />
    <meta property="og:url" content="http://www.enei.pt/" />
    <meta property="og:image" content="http://www.enei.pt/imgs/share-image.jpg" />
    <meta property="og:type" content="Website" />
    <link rel="canonical" href="http://www.enei.pt/" />
    <link href="bootstrap-grid.css" rel="stylesheet" type="text/css" />
    <link href="main.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Bai+Jamjuree:400,600,700" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">


</head>

<body>
    <header id="main-menu">
        <nav>
            <a href="#" title="Abrir menu" rel="nofollow" id="open-menu-mobile">Menu</a>
            <ul>
                <li><a href="#enei" title="Enei">Enei</a></li>
                <li class="unavailable">Oradores</li>
                <li class="unavailable">Programa</li>
                <li><a href="#precos" title="Preços">Preços</a></li>
                <li class="unavailable">App</li>
                <li><a href="#ctf" title="Faq's">CTF</li>
                <li><a href="#sponsors" title="Sponsors">Sponsors</a></li>
                <li><a href="#faqs" title="Faq's">Faq's</a></li>
            </ul>
        </nav>
    </header>

    <div class="ctf-header">
        <div class="ctf-top10">
            <h1 class="top-title">Melhores classificados CTF </h1>
            <table class="table table-striped table-dark">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nome Completo</th>
                        <th scope="col">Pontuação</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Henrique Dias</td>
                        <td>1024 pts</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Fernando Manuel Nunes Gonçalves</td>
                        <td>1024 pts</td>
                    </tr>

                    <tr>
                        <th scope="row">3</th>
                        <td>Francisco xavier santos petronilho </td>
                        <td>1024 pts</td>
                    </tr>
                    <tr>
                        <th scope="row">4</th>
                        <td>Joao eduardo santos alcatrão</td>
                        <td>1024 pts</td>
                    </tr>
                    <tr>
                        <th scope="row">5</th>
                        <td>Mariana Luísa Lança Miguel e Fernandes Marques</td>
                        <td>1024 pts</td>
                    </tr>

                </tbody>
            </table>

        </div>

        <h3 class="about-top">Estas pontuações refletem o somatório das pontuçãoes dos níveis cumpridos.</h3>

    </div>
    <div class="ctf-explain">
        <div>
            <h3>O que é o capture the flag?</h3>
            <p>
                O Capture The Flag é um concurso que vamos realizar diretamente relacionado com o jogo do ENEI, e com os
                respetivos prémios espetaculares que temos a oferecer (Nintendo Switch, entre outros).
                Este jogo é uma mistura de temas altamente relacionados com Informática, temas como WEB, CRYPTO,
                REVERSE_ENGINNERING, e uma mistura de tantos outros. Todos os niveis tem o memo objetivo: Encontrar uma
                frase (string) que por norma se encontra escondida.

                Qualquer um pode participar no jogo (desde que já detenha um bilhete) apenas com um simples scan a este
                QR code.
                No fim de encontráres a string, deves gerar um QR code com ela e prontos, o nivél está completado!
                Basta então fazeres um scan a esse QR e obteres todos os pontos que mereces.

            </p>
        </div> <img src="imgs/flag.png" alt="app">
    </div>
    <div class="ctf-prizes">
        <h3>O que posso ganhar ao realizar estes desafios?</h3>
        <h5>O CTF vale cerca de 50% dos pontos do jogo do ENEI.</h5>
        <div class="prizes-container">
            <div class="prize">
                <div class="prize-logo"><i class="fab fa-nintendo-switch"></i></div>
                <h4>Nitendo Switch</h4>
            </div>
            <div class="prize">
                <div class="prize-logo"><i class="fas fa-volume-up"></i></div>
                <h4>Coluna Bluetooth Xiaomi</h4>
            </div>
            <div class="prize">
                <div class="prize-logo"><i class="fas fa-headphones"></i></i></div>
                <h4>Auscultadores AKG K518</h4>
            </div>
            <div class="prize">
                <div class="prize-logo"><i class="fas fa-battery-full"></i></div>
                <h4>Power Bank Xiaomi Mi 5000</h4>
            </div>
        </div>
    </div>
    <div class="ctf-levels">



        <div class="level1-ctf level">
            <h3>Web</h3>
            <div class="sub-container">
                <div class="sub-level">
                    <h4>1 - WHATSTHEPASSWORD<i>(5 pontos)</i></h4>
                    <p>Começa esta jornada, com um desafio fácil relacionado com WEB. Talvez desta forma fiques motivado a continuar!</p>
                        <a href="#"><div class="btn-dwn-ctf"> <h3>Download</h3> <i class="fas fa-file-download"></i></div></a>
                </div>
                <div class="sub-level">
                    <h4>2 - ROT13 <i>(31 pontos)</i></h4>
                    <p> De forma a provares melhor o significado deste concurso, deixamos-te um desafio WEB com alguma análise.</p>
                            <a href="https://enei.pt/ctf/Try_Me.zip"><div class="btn-dwn-ctf"> <h3>Download</h3> <i class="fas fa-file-download"></i></div></a>
                </div>
            </div>
        </div>
        <div class="level2-ctf level">
            <h3>Analyse</h3>
            <div class="sub-container">
                    <div class="sub-level">
                            <h4>3 - Burro <i>(37 pontos)</i></h4>
                            <p>Com este desafio, pomos á prova a tua análise de ficheiros, e até pode ser que te rias a completar o 3º de muita diversão.</p>
                                <a href="https://enei.pt/ctf/Burro.zip"><div class="btn-dwn-ctf"> <h3>Download</h3> <i class="fas fa-file-download"></i></div></a>
                        </div>
                        <div class="sub-level">
                            <h4>4 - Whoami <i>(41 pontos)</i></h4>
                            <p> Vamos lá continuar a desenvolver esse raciocinio, mas desta vez com um pouco de pacotes à mistura. É uma confusão!!</p>
                                    <a href="https://enei.pt/ctf/WHOAMI.zip"><div class="btn-dwn-ctf"> <h3>Download</h3> <i class="fas fa-file-download"></i></div></a>
                        </div>
            </div>
        </div>

        <div class="level3-ctf level">
            <h3>Reverse Engeneering</h3>
            <div class="sub-container">
                    <div class="sub-level">
                            <h4>5 - REVERSEENGINNERING <i>(47 pontos)</i></h4>
                            <p> Daqui em diante a dificuldade começa a mudar de direção, vais acompanhar? Fica aqui um desafio de reverse_enginnering, nada de muito complicado (para ti).</p>
                                <a href="#"><div class="btn-dwn-ctf"> <h3>Download</h3> <i class="fas fa-file-download"></i></div></a>
                        </div>
                        <div class="sub-level">
                            <h4>6 -OLD <i>(59 pontos)</i></h4>
                            <p>Prova o cerne destes desafios, explorando, analisando e percebendo como descobrir a flag escondida, o tipico desafio crypto.</p>
                                    <a href="https://enei.pt/ctf/OLD.zip"><div class="btn-dwn-ctf"> <h3>Download</h3> <i class="fas fa-file-download"></i></div></a>
                        </div>
            </div>

        </div>

        <div class="level4-ctf level">
            <h3> Crypto</h3>
            <div class="sub-container">
                    <div class="sub-level">
                            <h4>7 - MASM_IS_LIFE <i>(61 pontos)</i></h4>
                            <p> Deixamos aqui um desafio destruidor de sonhos, é verdade.. Estás pronto para um bocadinho de assembly? </p>
                                <a href="https://enei.pt/ctf/ASM_IS_LIFE.zip"><div class="btn-dwn-ctf"> <h3>Download</h3> <i class="fas fa-file-download"></i></div></a>
                        </div>
                        <div class="sub-level">
                            <h4>8 - OLD2  <i>(89 pontos)</i></h4>
                            <p>Aqui fica a continuação do desafio nº 6, se ainda não o completas-te não faz sentido continuares este. Se já o fizes-te, então estás pronto para provar esta aventura começada em 2002 (DosBox).</p>
                                    <a href="https://enei.pt/ctf/OLD2.zip"><div class="btn-dwn-ctf"> <h3>Download</h3> <i class="fas fa-file-download"></i></div></a>
                        </div>
            </div>
        </div>
        <div class="level5-ctf level">
            <h3>Engeneering</h3>
            <div class="sub-container">
                    <div class="sub-level">
                            <h4>9 - ZIPZIPZIPZIP <i>(101 pontos)</i></h4>
                            <p>(WARNING) Não aconselhado a pessoas sensivéis, este nivél irá exigir de ti algum tempo, raciocínio e conhecimento. Descobre a flag neste desafio propício a dares em louco (SPOILER ALERT) (WARNING)</p>
                                <a href="https://enei.pt/ctf/ZIPZIPZIPZIP.zip"><div class="btn-dwn-ctf"> <h3>Download</h3> <i class="fas fa-file-download"></i></div></a>
                        </div>
                        <div class="sub-level">
                            <h4>10 - THE_END <i>(109 pontos)</i></h4>
                            <p> (WARNING) Nem preciso de comentar... Um nivel como este não requer descrições! Boa Sorte.(WARNING)</p>
                                    <a href="https://enei.pt/ctf/THEEND.zip"><div class="btn-dwn-ctf"> <h3>Download</h3> <i class="fas fa-file-download"></i></div></a>
                        </div>
            </div>
        </div>
    </div>


    <div class="explain-qr">
        <img src="imgs/QRstart.png" alt="app">
        <div class="explain">
            <h3>Como registar progesso no CTF?</h3>
           <p>Depois de obter a flag (string) do nível, deves gerar um QR code com a mesma.</p>
           <p>Em seguida deves usar a App para ler este QR code.</p>
           <p>Caso seja válida, a flag irá dar-te acesso ao cromo que representa o nível.</p>
           <p>Para testar, podes usar este QR code (free points).</p>
           <p>Boa sorte, a equipa do ENEI'19</p>
        </div>
    </div>
    <!-- faqs section -->
    <section id="faqs">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="pre-h1">Perguntas Frequentes</div>
                    <h1>Faqs</h1>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-10">
                    <ul id="accordion">
                        <li>
                            <a href="#" title="Como posso participar?" rel="nofollow" class="toggle">Como posso participar?</a>
                            <div class="content-accordion">
                                <p> Tal como o descrito acima, basta efetuares a compra do bilhete e fazeres scan do QR code da página do CTF. 
                                </p>

                                <p>Deves então prosseguir á descoberta das frases escondidas em cada desafio, e procederes à geração de um QR code com essa string.</p>
                            </div>
                        </li>
                        <li>
                            <a href="#" title="Quando posso começar?" rel="nofollow" class="toggle">Quando posso começar?
                                inscrever?</a>
                            <div class="content-accordion">
                                <p> O concurso irá começar no domingo (dia 7) às 14:30 e irá terminar na sexta (dia 13) às 00:00.</p>
                             
                            </div>
                        </li>
                        <li>
                            <a href="#" title="O que tenho eu a ganhar?" rel="nofollow"
                                class="toggle">O que tenho eu a ganhar?</a>
                            <div class="content-accordion">
                                <p>Com a realização do concurso não só irás evoluir as tuas competençias gerais relacionadas com Informática e Raciocínio Mental, como estás sujeito a ganhar prémios fenomenais.</p>

                            </div>
                        </li>
                      
                     
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-xs-6">
                    <p>© 2019 ENEI . Todos os direitos reservados</p>
                </div>
                <div class="col-lg-8 col-xs-6">
                    <ul id="social-network">
                        <li><a href="https://www.facebook.com/ENEIConf/" title="Facebook" target="_blank"
                                class="icon-facebook"></a></li>
                        <li><a href="https://www.instagram.com/eneiconf/" title="Instagram" target="_blank"
                                class="icon-instagram"></a></li>
                        <li><a href="https://www.linkedin.com/company/enei/" title="Linkedin" target="_blank"
                                class="icon-linkedin"></a></li>
                        <li><a href="mailto:geral@enei.pt" title="Email" target="_blank" class="icon-email"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>


    <!-- Scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script type="text/javascript" src="js/scripts.js"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-130588243-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'UA-130588243-1');
    </script>
</body>

</html>