<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="pt" xml:lang="pt">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta content="width=device-width, initial-scale=1, user-scalable=0" name="viewport">
    <meta content="width" name="MobileOptimized">
    <meta content="true" name="HandheldFriendly">
    <!-- Place favicon.ico in the root directory -->
    <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
    <link rel="manifest" href="site.webmanifest">
    <link rel="mask-icon" href="safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <title>ENEI'19</title>
    <meta name="description"
        content="Página do Encontro Nacional de Estudantes de Informática 2019, no Instituto Superior de Engenharia de Coimbra (ISEC) a realizar-se entre 12 e 15 de abril de 2019. O ENEI pretende oferecer aos estudantes de todo o país um evento que promove a aprendizagem, a troca de ideias e o convívio, enquanto tenta criar fortes ligações com o mundo empresarial.">
    <meta property="og:locale" content="pt_PT" />
    <meta property="og:title" content="ENEI'19" />
    <meta property="og:description"
        content="Página do Encontro Nacional de Estudantes de Informática 2019, no Instituto Superior de Engenharia de Coimbra (ISEC) a realizar-se entre 12 e 15 de abril de 2019. O ENEI pretende oferecer aos estudantes de todo o país um evento que promove a aprendizagem, a troca de ideias e o convívio, enquanto tenta criar fortes ligações com o mundo empresarial." />
    <meta property="og:site_name" content="ENEI'19" />
    <meta property="og:url" content="http://www.enei.pt/" />
    <meta property="og:image" content="http://www.enei.pt/imgs/share-image.jpg" />
    <meta property="og:type" content="Website" />
    <link rel="canonical" href="http://www.enei.pt/" />
    <link href="bootstrap-grid.css" rel="stylesheet" type="text/css" />
    <link href="main.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Bai+Jamjuree:400,600,700" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">


</head>

<body>
    <div id="overlay"></div>
    <header id="main-menu">
        <nav>
            <a href="#" title="Abrir menu" rel="nofollow" id="open-menu-mobile">Menu</a>
            <ul style="margin-bottom: 0;">
                <li><a href="https://enei.pt/#enei" title="Enei">Enei</a></li>
                <li><a href="https://enei.pt/#calendar">Programa</a></li>
                <li><a href="https://enei.pt/#precos" title="Preços">Preços</a></li>
                <li><a href="https://enei.pt/app" title="Preços">App</a></li>
                <li><a href="https://enei.pt/ctf" title="CTF">CTF</li> 
                <li><a href="https://enei.pt/#sponsors" title="Sponsors">Sponsors</a></li>
                <li><a href="https://enei.pt/#faqs" title="Faq's">Faq's</a></li>
            </ul>
        </nav>
    </header>

    <div class="ctf-header">
        <div class="ctf-top10">
            <h1 class="top-title">Melhores classificados jogo do ENEI'19 </h1>
  
<div id="content"  class="table table-striped table-dark"></div>
        </div>

        <h3 class="about-top">Estas pontuações refletem o somatório de todos os cromos.</h3>

    </div>
   
    <div class="ctf-prizes">
        <center><h3>Prémios jogo do ENEI'19</h3></center>
     
        <div class="prizes-container">
            <div class="prize">
                <div class="prize-logo"><i class="fab fa-nintendo-switch"></i></div>
                <h4>Nintendo Switch</h4>
            </div>
            <div class="prize">
                <div class="prize-logo"><i class="fas fa-volume-up"></i></div>
                <h4>Coluna Bluetooth Xiaomi</h4>
            </div>
            <div class="prize">
                <div class="prize-logo"><i class="fas fa-headphones"></i></i></div>
                <h4>Auscultadores AKG K518</h4>
            </div>
            <div class="prize">
                <div class="prize-logo"><i class="fas fa-battery-full"></i></div>
                <h4>Power Bank Xiaomi Mi 5000</h4>
            </div>
        </div>
    </div>
   

 

    <!-- faqs section -->
    <section id="faqs">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="pre-h1">Perguntas Frequentes</div>
                    <h1>Faqs</h1>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-10">
                    <ul id="accordion">
                        <li>
                            <a href="#" title="Como posso participar?" rel="nofollow" class="toggle">Como posso
                                participar?</a>
                            <div class="content-accordion">
                                <p> Tal como o descrito acima, basta efetuares a compra do bilhete e fazeres scan do QR
                                    code da página do CTF.
                                </p>

                                <p>Deves então prosseguir à descoberta das frases escondidas em cada desafio, e
                                    procederes à geração de um QR code com essa string.</p>
                            </div>
                        </li>
                        <li>
                            <a href="#" title="Quando posso começar?" rel="nofollow" class="toggle">Quando posso
                                começar?
                                inscrever?</a>
                            <div class="content-accordion">
                                <p> O concurso irá iniciar no domingo (dia 7) às 14:30 horas e terminar no sábado (dia
                                    13) às 00:00 horas.</p>
                            </div>
                        </li>
                        <li>
                            <a href="#" title="O que tenho eu a ganhar?" rel="nofollow" class="toggle">O que tenho eu a
                                ganhar?</a>
                            <div class="content-accordion">
                                <p>Com a realização do concurso não só irás evoluir as tuas competências gerais
                                    relacionadas com Informática e Raciocínio Mental, como estás sujeito a ganhar
                                    prémios fenomenais.</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-xs-6">
                    <p>© 2019 ENEI . Todos os direitos reservados</p>
                </div>
                <div class="col-lg-8 col-xs-6">
                    <ul id="social-network">
                        <li><a href="https://www.facebook.com/ENEIConf/" title="Facebook" target="_blank"
                                class="icon-facebook"></a></li>
                        <li><a href="https://www.instagram.com/eneiconf/" title="Instagram" target="_blank"
                                class="icon-instagram"></a></li>
                        <li><a href="https://www.linkedin.com/company/enei/" title="Linkedin" target="_blank"
                                class="icon-linkedin"></a></li>
                        <li><a href="mailto:geral@enei.pt" title="Email" target="_blank" class="icon-email"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

<script>
const wrapper = document.getElementById('content');


const demoData = [
  
];

function fetchData() {

    var top=[];
  var i=1;
    axios.get('https://enei.pt/top')
  .then(function (response) {
      
     response.data.forEach(function(entry) {
    top.push({Num:i, Nome: entry.nome, Pontos: entry.pontos})
    i++
});
  
      populate(top)
  })
  .catch(function (error) {
 
    console.log(error);
  })
 
  
};

document.addEventListener('DOMContentLoaded', fetchData, false);

function dom(tag, text) {
    let r = document.createElement(tag);
    if (text) r.innerText = text;
    return r;
};

function append(parent, child) { 
  parent.appendChild(child); 
  return parent; 
};

function populate(json) {
    if (json.length === 0) return;
    let keys = Object.keys(json[0]);
    
    let table = dom('table');

    append(table,
      keys.map(k => dom('th', k)).reduce(append, dom('tr'))
    );

    const makeRow = (acc, row) =>
    
        append(acc,
            keys.map(k => dom('td', row[k])).reduce(append, dom('tr'))
        );
        
    json.reduce(makeRow, table);
    wrapper.appendChild(table);
};

</script>
<style>
   table{
        width: 90%;
        margin: 0 auto;
   }
</style>
    <!-- Scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"></script>
   
    <script type="text/javascript" src="js/scripts.js"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-130588243-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'UA-130588243-1');
    </script>
</body>

</html>